*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.form{
    background-color:rgb(62, 240, 180);
    padding: 30px;
    margin: 50px;
    padding:30px;
    box-shadow: 3px 3px 3px rgb(28, 58, 114);
    border-radius: 20px;
    border: 2px solid green;
    letter-spacing: 1px;
}
h1{
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    margin-bottom: 10px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.form > form > label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
input{
    border:none;
}
input::placeholder{
    font-size: 15px;
}
input:focus{
    border-color: green;
}
form{
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box{
    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    
}
form > button{
    background-color: rgb(68, 62, 146);
    color: white;
    box-shadow: 2px 2px 2px rgb(52, 52, 126);
    cursor: pointer;
    margin-top: 10px;
    

}
form > button:hover{
    background-color: rgb(109, 3, 207);
    font-size: 15px;
    
}