*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.outer > .left{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.left > img{
    height: 300px;
    width: 400px;

}
.outer > .right{
    background-color: rgb(77, 212, 95);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    flex-basis: 50%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-weight:bold;

}
.right > form{
    height: 45%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;

}button{
    background-color: rgb(95, 72, 194);
    border-radius: 10px;
    color: white;
    padding:8px;
    font-size: 15px;
    margin-top: 10px;
}
.right  > .inner{
    display:flex;
    flex-direction: row;
    gap:140px;
}
.right > form > input{
    padding: 7px;
    
    border-radius: 10px;
}