*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.o{
    height: 100vh;
    background-color: rgb(185, 89, 89);
}
.o > .i{
    height: 400px;
    width: 400PX;
    border: black;
    justify-content: center;
    align-items: center;

}
.w{

background-color: aliceblue;

}
.inner{
    height: 600px;
    width: 700px;
    border: 2px solid black;
    background-color:silver;
    display: flex;
    /* flex-direction: column-reverse; 
    flex-direction: row-reverse;*/
    /* justify-content: end; */
    justify-content:center ;
    align-items:end;
    gap: 10px;
}
.inner .box{
    height: 100px;
    width: 100px;
    border: 2px solid purple;
    text-align: center;
    align-items: c;
}



.nav{
    background-color:  rgb(223, 176, 158);
    display: flex;
    justify-content: space-around;
    height: 20%;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    list-style: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    height: 100px;
}
button{
    background-color:rgb(91, 138, 139);
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    box-shadow: 1px 1px 1px black;
    color: white;
}
button:hover{
    background-color: rgb(132, 201, 141);
    border: 1px solid rgb(2, 34, 2);
    color: black;
    box-shadow: 3px 3px 3px rgb(7, 32, 7);
    padding: 10px;
    
}
.sec2{
    background-color: rgb(192, 217, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 280px;
    width: 100%;
    font-size: 20px;
}
.sec3{
    background-color: rgb(223, 176, 158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: (100vh-330px);
}
.sec3 > .sec31{
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(31, 30, 30);
    overflow: hidden;
}
.sec3 > .sec31 > .sec32{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap:5px;
    

}
/* img{
    border-radius: 20px;
} */