*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}
.outer{
    height: 500px;
    width: 800px;
    background-color: rgb(1, 12, 2);
    color: aliceblue;
}
.outer > .box{
    
    height: 100px;
    width: 200px;
    border: 4px solid rgb(235, 229, 229);
}
.card{
   
    background-color: aquamarine;
    margin: 100px;
    padding: 20px;
    box-shadow: 10px black;
    border-radius: 30px;
    border: 3px solid rgb(14, 14, 141);
    box-shadow:  4px 4px 4px rgb(8, 4, 61);
    
    
}
.card > h1{
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:2px 2px 2px rgb(29, 22, 22);
    text-align: center;
    
}

.card > button{
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:2px 2px 2px rgb(29, 22, 22);
    text-align: center;
    font-style: italic;
    font-size: 20px;
    display: block;
    background-color: rgb(87, 230, 59);
    padding:20px;
    margin-bottom:  15px;
    width: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 3px green;
    border-radius: 20px;
    

}
.card > button:hover{
    background-color:rgb(158, 47, 69);
    color: whitesmoke;
    border-color: chartreuse;
    text-shadow: 2px 3px 4px rgb(129, 216, 108);s
}