
/* default font size of brower is 16px */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{
    background-color: aquamarine;
    /* height: 200px; */
        height: 100vh;/*viewport */
}
.box2{
    height: 300px;
    width: 500px;
    background-color: burlywood;
}
.box2 > .box3{
    background-color:deeppink;
    height: 50%;
    width: 50%;
}
.circle{
    height: 200px;
    width:200px;
    border-radius: 50%;
    background-color: crimson;
}
.box4{
    background-color: darkgoldenrod;
    height: 400px;
     font-size: 2em;/*2*16 */
}
.box4 > .box5{
    background-color: darkmagenta;
    height: 60%;
    width: 70%;
    padding-left: 20px;
    margin-left: 20px;
    /* font-size: 2em; */
    font-size: 2rem;/* root *2 -> 16*2 */
}